*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Lobster', cursive;
    scroll-behavior: smooth;

}
/* propiedades para el encabezado del sitio web */
#inicio{
    height: 570px;
    width: 960px;
    margin: 4px 20px;
    background-image: url('../image/background-imagenes/bg-cortaCabello.jpg');
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 5px;
}
/* propiedades para la botonera del sitio web */
.navbar{
    position: fixed;
    height: 55px;
    width: 960px;
    text-align: right;
    float: right;
    margin-top: 0px;
    font-family: 'Inconsolata', monospace;
    animation-name: barra;
    animation-duration: 2s;
}
@keyframes barra {
    from {
        margin-top: 100%;
        width: 300%
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
}
.navbar-list{
    display: inline-block;
    list-style-type: none;
    padding: 10px;
}
.navbar-list-item{
    margin-top:  5px;
    float: left;
}
.navbar-list-item a{
    font-size: 21px;
    margin: 0px 4px;
    color: #28df99;
    opacity: 0.6;
    text-shadow: 1px 1px black;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 5px;

}
.navbar-list-item a:hover{
    background-color: #28df99;
    color: white;
    opacity: 1;
}
#inicio h1{
    float: left;
    width: 960px;
    height: 100px;
    margin-top: 350px;
    word-spacing: 15px;
    color: red;
    font-size: 55px;
    text-shadow: 2px 1px white;
    animation-name: nombre;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes nombre {
    0% { color: blue;} 
  30%, 40% { color: red;}
  68%, 70% { color: blue;}
  90%, 100% { color: red;}  
}
#inicio h4{
    color: #e8e8e8;
    font-size: 25px;
    text-shadow: 1px 1px blue;
}
/* propiedades para el contenido principal del sitio web */

.contenido{
    height: 4990px;
    width: 960px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto; 
}


#historia{
    width: 960px;
    height: 1100px;
    border-radius: 5px;
    margin-bottom: 5px;
    border: lightgray 2px solid;
    float: left;
    font-family: 'Inconsolata', monospace;
    background-color: #ff4646;
    background-color: #fbf7f0;
}
.historia-titulo{
    float: left;
    width: 40%;
    font-size: 50px;
    margin-top: 20px;
    margin-left: 35px;
    color: blue;
    letter-spacing: 5px;
    font-family: 'Inconsolata', monospace;
}
.historia-subtitulo-f, .historia-subtitulo-a ,.historia-subtitulo-e
{
    margin: 20px;
    padding: 0px 5px;
    text-align: start;
    float: left;
    margin-left: 30px;
    font-size: 25px;
    color: darkgray;
}
.historia-figure{
    float: left;
    margin-bottom: 30px;
    width: 955px;
    height: 300px;
    margin-top: 10px;
    color: blue;
}
.historia-imagen{
    float: right;
    border: solid 2px blue;
    width: 300px;
    height: 295px;
    border-radius: 50%;
    margin-right: 30px;
}
.historia-descripcion{
    width: 500px;
    float: left;
    padding-left: 25px;
    margin: 25px;
    color: blue;
    font-size: 23px;
    margin: 0px 10px;    
}

.mostrar{
    float: right;
    margin: 20px 5px;
    padding: 5px;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}
.ocultar{
    float: right;
    margin: 20px 5px;
    padding: 5px;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}

#galeria{
    background-color: #d9e4dd;
    width: 960px;
    height: 920px;
    float: left;
    margin-bottom: 5px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, rgba(30,18,237,1) 0%,  rgba(249,243,244,1) 35%, rgba(243,6,40,1) 100%);

}
.galeria-titulo{
    font-size: 50px;
    margin: 30px;
    color: red;
    letter-spacing: 5px;
    font-family: 'Inconsolata', monospace;
}
.galeria-figure{

    border-radius: 10px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    padding: 10px 5px;
    margin-left: 10px;
    margin-top: 10px;
}
figcaption a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    text-shadow: 2px 1px black;
    cursor: pointer;
    letter-spacing: 7px;
}
.galeria-imagen{
    border: solid 2px white;
    width: 295px;
    height: 320px;
    border-radius: 5px;
}
#tendencias{
    width: 960px;
    height: auto;
    float: right;
    background-color: blue;
    margin-bottom: 5px;
    border-radius: 5px;
    font-family: 'Inconsolata', monospace;
}
.tendencias-titulo{
    font-size: 50px;
    margin: 30px;
    letter-spacing: 2px;
    color: red;
}
.contenido-derecha-articulo{
    padding: 5px 30px;
    color: white;
}
.contenido-derecha-titulo{
    margin-bottom: 15px;
    color: white;
    font-size: 30px;
}
#tendencias h4{
    margin-bottom: 15px;
}
#tendencias p{
    font-size: 15px;
    text-align: left;
    margin-bottom: 15px;
    margin-right: 55px;
}
#tendencias img{
    width: 350px;
    height: 350px;
    float: right;
    margin: 20px 300px;
}
#anterior{
    margin: 5px;
    float: right;
    padding: 3px;
    font-size: 18px;
    background-color: black;
    color: lightgrey;
    border: 1px solid lightgrey;
}
#siguiente{
    margin: 5px;
    float: right;
    padding: 3px;
    font-size: 18px;
    background-color: black;
    color: lightgrey;
    border: 1px solid lightgrey;
}
#contactanos{
    font-family: 'Inconsolata', monospace;
    float: left;
    height: 610px;
    width: 960px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px ;
    background: linear-gradient(90deg, rgba(30,18,237,1) 0%, rgba(249,243,244,1) 35%, rgba(243,6,40,1) 100%);
}
input{
    border: none;
}
.formulario-titulo{
    font-size: 45px;
    letter-spacing: 2px;
    margin: 30px;
    color: white;
    text-shadow: 2px 2px black;
}
#contactanos h4{
    color: blue;
    text-shadow: 1px 1px white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}
.formulario-box{
    text-align: center;
    display: block;
    width: 500px;
    height: 470px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    font-size: 25px;
    border: solid 2px white;
    border-radius: 10px;
    opacity: 0.5;
}
.formulario-box:hover{
    opacity: 1;
    background-image: url('../image/formulario/bg-form1.jpg');
    background-size: cover;
    background-position: center;
}
.contactanos-form{
    border-radius: 5px;
    width: 460px;
    padding: 15px 5px;
    margin: 5px;
    border: grey solid 2px;
}
.texto{
    margin-top: 10px;
    border-radius: 5px;
    border: solid 2px grey;
}
.contactanos-enviar{
    width: 110px;
    font-size: 20px;
    border:  none;
    padding: 10px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    margin: 2px;
    border: solid 1px white;
    text-transform: uppercase;
}
.contactanos-enviar:hover{

    cursor: pointer;
    transform: scale(1.1,1.1);
    transition: 0.4s;
    background-color: transparent;

}
iframe
{
    float: left;
    width: 474px;
    margin-left: 5px;
    border-radius: 20px 0px 20px 0px;
    border: solid 3px #c4302b;
}
/* propiedades para el pie de pagina del sitio web */
.pie-pagina{
    height: 350px;
    width: 960px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: #ff4646;
    color: whitesmoke;
    font-family: 'Special Elite', cursive;
}
.pie-pagina h3{
    text-align: center;
    margin: 25px;
    font-size: 28px;
}
.redes-sociales{
    width: 470px;
    height: 270px;
    float: left;
    text-align: center;
    border-bottom: 1px solid white;
}
.redes-sociales h3{
    text-align: center;
}
.redes-sociales p{
    padding: 30px ;
}
.redes-sociales a{
    text-decoration:  none;
    color: whitesmoke;
    margin-right: 30px;
}

.facebook:hover{
    color: #4267B2;
}
.instagram:hover{   
    color: orange;

}
.twitter:hover{
    color: #00acee;
}
.youtube:hover{
    color: #c4302b;
}
.pie-contenido-central{
    width: 481px;
    height: 270px;
    float: right;
    text-align: center;
    border-left: solid 1px white;
    border-bottom: 1px solid white;
}
.pie-contenido-central-lista{
    margin-top: 50px;
    list-style-type: none;
}
.pie-contenido-central-item{

    margin-bottom: 15px;
}
.pie-contenido-central a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 19px;
}
.pie-contenido-central a:hover{
    color: lightgrey;
}
.pie-contenido-legales{
    float: left;
    margin-top: 10px;
    width: 960px;
    height: 80px;
    text-align: center;
    /* background-color: dimgray; */
}
.pie-contenido-legales p{
    margin-top: 40px;
}
/* ///// INICIO MEDIA 600 A 1023 \\\\\ */
/* ///// INICIO MEDIA 600 A 1023 \\\\\ */
@media all  and (min-width: 600px) and (max-width: 1023px){
    #inicio{
        height: 300px;
        width: 600px;
        margin: 4px 20px;
        margin-left: auto;
        margin-right: auto;
    }
    /* propiedades para la botonera del sitio web */
    .navbar{
        position: sticky;
        height: 55px;
        width: 585px;
        text-align: center;
        float: left;
    }
    .navbar-list{
        display: inline-block;
        list-style-type: none;
        padding: 10px;
    }
    .navbar-list-item{
        margin-top:  5px;
        float: left;
    }
    .navbar-list-item a{
        font-size: 18px;
        margin: 0px 2px;
        text-decoration: none;
        padding: 3px 3px;
        border-radius: 10px;
    }
    .navbar-list-item a:hover{
        background-color: #28df99;
        color: white;
    }
    #inicio h1{
        float: left;
        width: 575px;
        height: 60px;
        margin-top: 120px;
        font-size: 45px;
    }
    #inicio h4{
        float: right;
        margin-right: 50px;
        font-size: 1rem;
        color: white;
        text-shadow: 1px 1px blue;
    }
    /* propiedades para el contenido principal del sitio web */
    .contenido{
        height: 6780px;
        width: 600px;
        padding: 0px 0px;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    #historia{
        width: 595px;
        height: 1330px;
    }
    .historia-titulo{
    
        font-size: 45px;
        text-align: center;
    }
    .historia-subtitulo
    { 
        font-size: 22px;
    }
   
    .historia-subtitulo-f::after{
        content: ": LA APERTURA";
    }
    .historia-subtitulo-a::after{
        content: ": LOS CAMBIOS";
    }
    .historia-subtitulo-e::after{
        content: ": EL STAFF CRECIÓ";
    }
    .historia-figure{
        float: left;
        margin-bottom: 30px;
        width: 575px;
        height: 350px;
    }
    .historia-imagen{
        float: right;
        border: solid 2px blue;
        width: 290px;
        height: 290px;
        margin-top: 10px;
        border-radius: 50%;
        margin-right: 0px;
    }
    .historia-descripcion{
        width: 250px;
        float: left;
        padding-left: 25px;
        margin: 25px;
        color: blue;
        font-size: 20px;
        margin: 0px 10px;
    }
    #galeria{
        width: 595px;
        height: 1410px;
        float: left;
    
    }
    .galeria-titulo{
        font-size: 45px;
        text-align: center;
    }
    .galeria-figure{
        padding: 10px 5px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .galeria-imagen{
        border: solid 2px white;
        width: 270px;
        height: 350px;
    }
    #tendencias{
        width: 595px;
        height: 2850px;
        height: auto;
        float: left;
    }
    .tendencias-titulo{
        font-size: 45px;
        text-align: center;
    }
    .contenido-derecha-titulo{
        margin-bottom: 15px;
        color: white;
        font-size: 30px;
    }
    #tendencias h4{
        font-size: 22px;
    }
    #tendencias p{
        font-size: 19px;
        text-align: left;
        margin-bottom: 15px;
        margin-right: 5px;
    }
    #tendencias img{
        width: 400px;
        height: 350px;
        float: none;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    #contactanos{
        height: 630px;
        width: 595px;
    }
    .formulario-titulo{
        font-size: 45px;
        text-align: center;
    }
    #contactanos h4{
        font-size: 20px;
    }
    .formulario-box{
        text-align: center;
        display: block;
        width: 500px;
        height: 480px;
        margin-top: 10px;
        font-size: 25px;
    }
    .contactanos-form{
        border-radius: 5px;
        width: 460px;
        padding: 15px 5px;
        margin: 5px;
        border: grey solid 2px;
    }
    .texto{
        margin-top: 10px;
        border-radius: 5px;
        border: solid 2px grey;
    }
    .contactanos-enviar{
        width: 110px;
        font-size: 20px;
        border:  none;
        padding-bottom: 5px;
    }
    .contactanos-enviar:hover{
    
        cursor: pointer;
        transform: scale(1.1,1.1);
        transition: 0.4s;
        background-color: red;
    
    }
    iframe{
            width: 595px;
            float: left;
            margin-left: 0px;
            margin-bottom: 10px;
            border-radius: 0px;
        }
    /* propiedades para el pie de pagina del sitio web */
    .pie-pagina{
        height: 650px;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    .pie-pagina h3{
        margin: 25px;
        text-align: start;
        margin-left: 30px;
    }
    .redes-sociales{
        width: 595px;
        height: 270px;
        border-right: none;
        border-bottom: solid 2px white;
        float: left;
        text-align: center;
    }
    .redes-sociales h3{
        text-align: start;
        margin-left: 25px;
    }
    .redes-sociales p{
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .redes-sociales a{
        text-decoration:  none;
        color: whitesmoke;
        margin-right: 30px;
        font-size: 15px;
    }
    .pie-contenido-central{
        width: 590px;
        height: 270px;
        float: left;
        text-align: center;
    }
    .pie-contenido-central h3{
        text-align: center;
    }
    .pie-contenido-central-lista{

        margin-top: 50px;
        list-style-type: none;
        margin-left: 30px ;
    }
    .pie-contenido-central-item{
    
        margin-bottom: 20px;
    }
    .pie-contenido-central a{
        text-decoration: none;
        color: whitesmoke;
        font-size: 20px;
    }
    .pie-contenido-legales{
        float: left;
        margin-top: 10px;
        width: 590px;
        height: 90px;
        text-align: center;
        /* background-color: dimgray; */
    }
    .pie-contenido-legales p{
        margin-top: 40px;
    }   

}
/* ///// FIN MEDIA 600 A 1023 \\\\\ */
/* ///// FIN MEDIA 600 A 1023 \\\\\ */

@media all and (max-width: 599px){
   
    #inicio{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        float: none;
        margin-bottom: 5px;
    }
    /* propiedades para la botonera del sitio web */
    .navbar{
        position:sticky;
        height: auto;
        width: 100%;
        text-align: center;
        float: none;
        letter-spacing: 3px;
    }
    .navbar-list{

        width: 100%;
    }
    .navbar-list-item{
        background-color: white;
        border-radius: 5px;
        margin-bottom: 5px;
        float: none;
        display: block;
    }
    .navbar-list-item a{
        width: 100%;
        text-align: center;
        background-color: white;
        font-size: 21px;
        margin: 0px 0px;
        color: blue;
        opacity: 1;
        text-shadow: 1px 1px black;
        text-decoration: none;
        padding: 0px 0px;
        border-radius: 5px;
    }
    .navbar-list-item a:hover{
        background-color: transparent;
        color: red;
    }
    #inicio h1{
        float: none;
        width: 100%;
        height: auto;
        margin-top: 140px;
        word-spacing: 10px;
        letter-spacing: 5px;
        padding: 5px 10px;
        font-size: 40px;
        padding-bottom: 20px;
        
    }
    #inicio h4{
        display: none;
    }
    /* propiedades para el contenido principal del sitio web */
    .contenido{
        height: auto;
        width: 90%;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 0px;
    }
    #historia{
        width: 100%;
        height: auto;
        border-radius: 5px;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .historia-titulo{
        width: 100%;
        font-size: 35px;
        margin-top: 10px;
        margin-left: 0px;
        margin-bottom: 20px;
        color: blue;
    }
    .historia-subtitulo-f, .historia-subtitulo-a ,.historia-subtitulo-e
{
    width: 100%;
    margin: 30px;
    padding: 0px 5px;
    float: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
}
.historia-descripcion{
    width: 100%;
    float: none;
    padding-left: 0px;
    margin: 10px;
    font-size: 18px;
    margin: 0px 10px;    
}
    .mostrar{
        float: right;
        margin: 20px 5px;
        padding: 5px;
        text-transform: uppercase;
        font-size: 1rem;
        background-color: green;
        color: white;
        border: none;
        border-radius: 5px;
    }
    .ocultar{
        margin: 20px 2px;
        padding: 5px;
        font-size: 0.7rem;
    }
    .mostrar{
        margin: 20px 2px;
        padding: 5px;
        font-size: 0.7rem;
    }
    .formulario-box h4
    {
        margin: 10px;
        text-align: center;
        padding: 0px 5px;
        float: none;
        margin-left: 0px;
        font-size: 25px;
        color: darkgray;
    }
    .historia-figure{
        float: none;
        margin-bottom: 30px;
        width: 100%;
        height: auto;
        margin-top: 10px;
        color: blue;
    }
    .historia-imagen{
        float: none;
        border: none;
        width: 100%;
        height: auto;
        border-radius: 5px;
        margin-bottom: 15px;
    }
    .historia-descripcion{
        width: 100%;
        float: none;
        padding: 0px 10px;
        margin: 5px;
        font-size: 18px;
        margin: 0px 0px;
    }
    #galeria{
        width: 100%;
        height: auto;
        float: none;
    }
    .galeria-titulo{
        font-size: 45px;
        padding: 10px 0px;
        margin-top: 0px;
    }
    .galeria-figure{

        width: 100%;
        border-radius: 10px;
        display: inline-block;
        font-size: 20px;
        padding: 10px 5px;
        margin-left: 0px;
        margin-top: 10px;
    }
    figcaption a{
        text-decoration: none;
        color: white;
        font-size: 30px;
        background-color: black;
        text-shadow: 2px 1px black;
        cursor: pointer;
        width: 99%;
        letter-spacing: 7px;
    }
    .galeria-imagen{
        border: solid 2px white;
        width: 100%;
        height: 340px;
        border-radius: 50%;
    }


    #tendencias{
        width: 100%;
        height: auto;
        float: none;
        display: none;
    }
    .tendencias-titulo{
        font-size: 40px;
        margin: 30px;
    }
    .contenido-derecha-articulo{
        padding: 5px 0px;
        color: white;
    }
    .contenido-derecha-titulo{
        margin-bottom: 15px;
        color: white;
        font-size: 25px;
    }
    #tendencias h4{
        margin-bottom: 15px;
    }
    #tendencias p{
        font-size: 15px;
        text-align: center;
        padding: 0px 5px;
        margin-bottom: 15px;
        margin-right:auto;
        margin-left: auto;
    }
    #tendencias img{
        width: 350px;
        height: 350px;
        float: none;
        margin-right: auto;
        margin-left: auto;
    }


    #contactanos{
        float: none;
        height: auto;
        width: 100%;
        margin-left: auto;
        margin-right: auto;     
    }
    .formulario-titulo{
        margin-left: 0px;
        font-size: 40px;
        width: 100%;
        margin-top: 0px;
        padding-top: 10px;
    }
    #contactanos h4{
        color: white;
        text-shadow: 1px 1px black;
        text-align: center;
        padding: 10px;
        font-size: 20px;
    }
    .formulario-box{
        text-align: center;
        display: block;
        width: 80%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        font-size: 25px;
        border: none;
        opacity: 1;
    }
    .formulario-box:hover{
        background: transparent;
    }
    .formulario-box h4{
        display: none;
    }
    .contactanos-form{
        border-radius: 2px;
        width: 90%;
        padding: 0px 0px
        margin: 5px;
        border: grey solid 2px;
    }
    .texto{
        margin-top: 10px;
        border-radius: 5px;
        border: solid 2px grey;
        width: 90%;
        margin-left: 5px;
    }
    .contactanos-enviar{
        width: 90px;
        font-size: 15px;
        border:  none;
        padding: 10px;
        border-radius: 5px;
        background-color: blue;
        color: white;
        margin: 15px;
        border: solid 1px white;
        text-transform: uppercase;
    }
    .contactanos-enviar:hover{
    
        cursor: pointer;
        transform: scale(1.1,1.1);
        transition: 0.4s;
        background-color: red;
    
    }
    iframe{
        width: 100%;
        float: none;
        margin-left: 0px;
        margin-bottom: 2px;
        border-radius: 0px;
    }
    
    /* propiedades para el pie de pagina del sitio web */
    .pie-pagina{
        width: 90%;
        height: auto;
        float: none;
        margin-top: 0px;
        text-align: center;
    }
    .pie-pagina h3{
        margin: 0px;
        border-radius: 5px;
        font-size: 28px;
        background-color: lightslategray;
        width: 100%;
        padding: 10px 0px;
    }
    .redes-sociales{
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: 0;
        float: none;
    }
    .redes-sociales h3{
        margin: 0px;
        border-radius: 5px;
        font-size: 28px;
        background-color: lightslategray;
        width: 100%;
    }
    .redes-sociales p{
        margin-top: 42px;
        margin-bottom: 50px;
        font-size: 20px;
        padding: 0px 45px;
    }
    .redes-sociales a{
        font-size: 15px;
        margin-right: 10px;
    }
    .pie-contenido-central{
        width: 100%;
        height: auto;
        float: none;
        border-bottom: 2px solid white;
    }
    .pie-contenido-central h3{
        margin-top: 15px;
    }
    .pie-contenido-central-lista{
        margin-top: 30px;
        list-style-type: none;
        margin-left: 0px;
    }
    .pie-contenido-central-item{
    
        margin-bottom: 20px;
    }
    .pie-contenido-central a{
        text-decoration: none;
        color: whitesmoke;
        font-size: 20px;
        margin: 10px 0px;
    }
    .pie-contenido-legales{
        float: none;
        margin: 5px 0px;
        width: 100%;
        height: auto;
    }
    .pie-contenido-legales p{
        font-size: 20px;
        margin: 20px 20px;
        padding-bottom: 10px;
    }    

}
/* ///// FIN MEDIA MAX-WIDTH 600 PX  \\\\\ */
